body{
    /*font: 1.1em/1.5 sans-serif;*/

}
.main{
    border: 1px solid;
    margin: auto;
    padding:20px;
    width: 760px;
}

/*.main>a{*/
    /*color: red;}*/
/*direct parent of the child*/


/*p+h2{*/
    /*color: red;*/
    /*background: greenyellow;*/
/*}*/
/*ADJACENT SIBLING SELECTOR*/


/*GENERAL SIBLING SELECTOR*/
h2~p{
    background: blueviolet;
}