
.content{
    width: 1000px;
    margin: auto;
}
 .main-header{
     background-color: dodgerblue;
     color: black;

     height: 110px;
 }
 #main-content{
     background-color: #ff8ce9;
     padding: 10px;
     color: black;
     height: auto;
     margin: auto;
 }
 #main-content p{
     font-size: 24px;
     line-height: 1.5;
     margin: 50px ;
 }
 .main-footer{
     background-color: #34ff6f;
     height:100px;
     color: black;
     text-align: left ;
 }
 .base{
     padding: 30px;
     font-size: 24px;
     color: black;
 }
/*body{*/
    /*padding: 40px;*/
    /*margin: 0px;*/
    /*background-color: indigo;*/
/*}*/
/*h1{*/
    /*color: #34ff6f;*/
    /*font-size: 40px;*/
/*}*/
/*h2{*/
    /*font-size: 35px;*/
    /*color: #34ff6f;*/
/*}*/
/*p{*/
    /*background-color: dodgerblue;*/
    /*padding: 30px;*/
    /*color: black;*/
/*}*/
/*p span{*/
    /*font-weight: bold;*/
/*}*/
/*h1 span{*/
    /*color: red;*/
/*}*/
/*h2 span{*/
    /*color: red;*/
    /*font-size: 30px;*/
/*}*/